<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="3" parallel="tests" name="suite">
    <test name="demo1">
        <parameter name="keyword" value="Selenium" />
        <classes>
            <class name="com.example.TestNG"/>
        </classes>
    </test>    <!-- Test -->
    <!--  -->
</suite><!-- Suite -->